

<div class="content">
  <div class="row">
      <div class="col-md-12 col-lg-12">
          <%= render 'layouts/header' %>
      </div>
  </div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="container">
      <p id="notice"><%= notice %></p>

      <div class="card">
        <div class="card-title">
          <h1 class="text-light rounded bg-dark fit-c">Contacts</h1>
        </div>
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @contacts.each do |contact| %>
              <tr scope="row">
                <td><%= contact.name %></td>
                <td><%= contact.email %></td>
                <td><%= contact.phone %></td>
                <td><%= link_to 'Show', contact %></td>
                <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
                <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <a class="btn btn-primary btn-dark m-top btn-sm text-light" href="/contacts/new">New Contact</a>
      <br>

      </div>
    </div>
  </div>
</div>
<div class="row footer">
  <div class="col-md-12 col-lg-12">
      <%= render 'layouts/footer' %>
  </div>
</div>