<div class="content">
  <div class="row">
      <div class="col-md-12 col-lg-12">
          <%= render 'layouts/header' %>
      </div>
  </div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="container">

      <p id="notice"><%= notice %></p>

      <div class="card">
        <div class="card-title">
          <h1 class="text-light bg-dark rounded fit-c">Experiences</h1>
        </div>

        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Company</th>
              <th scope="col">Office</th>
              <th scope="col">Description</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @experiences.each do |experience| %>
              <tr scope="row">
                <td><%= experience.company %></td>
                <td><%= experience.office %></td>
                <td><%= experience.description %></td>
                <td><%= link_to 'Show', experience %></td>
                <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
                <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
      </div>

      <a class="btn btn-primary btn-dark m-top btn-sm text-light" href="/experiences/new">New Experience</a>
    </div>
  </div>
</div>

<br>
</div>
<div class="row footer">
  <div class="col-md-12 col-lg-12">
      <%= render 'layouts/footer' %>
  </div>
</div>